*
{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.contenitore
{
    max-width: 50%;
    margin: auto;
}

.fl
{
    float: left;
}

.row1:first-child
{
    background-image: url("../img/logo.png");
    background-size: cover;
    background-position: center;
    width: 15%;
}

li
{
    display: inline-block;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;}

li:last-child
{
    margin-right: 0%;
}

.testo
{
    width: 60%;
    padding-top: 22%;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}
/* blochi con 100% di larghezza */
.row100 , .row1 , .row2 , .row3, .row4 , .contenitore-art
{
    margin-top: 20px;
    width: 100%;
}
.row1
{
    height: 5vh;
}

.row2
{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 38vh;
    filter: alpha(opacity=80);
}

.clearfix::after
{
    content: " ";
    display: table;
    clear: both;
}

.row3
{
    height: 48vh;
    background-color: lightskyblue;
    margin: top 0;
}

.row4
{
    height: 5vh;
    background-color: purple;
}

/* blocchi dentro il terzo contenitore */
.contenitore-art
{
    background-color: lightblue;
}

.subrow3
{
    float: left;
    background-color: olive;
    height: 40vh;
    width: 25%;
}

.a
{
    width:  50%;
    padding: 40px;
    background-color: orange;
}

.b
{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: orange;
}

.colore
{
    background-color: navy;
    width: 100%;
    height: 100%;
}